#### Notebook `Cleaning and Pre-processing Test Dataset`

#### Group:
- `Miguel Matos - 20221925`
- `André Nicolau - 20221861`
- `André Ferreira - 20250398`

---

#### <font> Table of Contents </font> <a class="anchor" id='toc'></a> 
1. [Imports](#Imports)

----

## Imports

In [74]:
from functions import *

In [75]:
data = pd.read_csv("D:/Faculdade/Mestrado/Data Mining/Data Mining_ Materials/ML_Project_Group42/data/test.csv")
pd.set_option("display.max_columns", None)

## Data Understanding

In [76]:
data.shape

(32567, 13)

In [77]:
#set carID as index
data.set_index("carID").sort_index()

,Brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
carID,,,,,,,,,,,,
75973,Audi,A4,2012.0,Manual,49500.0,Diesel,30.0,62.8,2.0,51.0,0.0,0.0
75974,Audi,A3,2019.0,Manual,4352.0,Diesel,145.0,51.4,1.6,52.0,1.0,0.0
75975,Audi,A6,2019.0,Semi-Auto,7000.0,Diesel,150.0,47.9,2.0,79.0,2.0,0.0
75976,Audi,A3,2020.0,Semi-Auto,3925.0,Petrol,145.0,44.1,1.5,52.0,2.0,0.0
75977,Audi,A4,2016.0,Manual,22000.0,Petrol,145.0,51.4,1.4,45.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
108535,VW,Golf,2017.0,SEMI-AUTO,38206.0,NaN,20.0,58.9,1.6,33.0,3.0,0.0
108536,VW,Polo,2017.0,Manual,41777.0,etrol,145.0,60.1,NaN,88.0,2.0,0.0
108537,VW,Golf,2017.0,Automatic,26630.0,Diesel,145.0,57.7,2.0,50.0,1.0,0.0
108538,VW,Polo,2020.0,Manual,1920.0,Petrol,145.0,48.7,1.0,64.0,0.0,0.0
108539,VW,Golf,2015.0,Manual,66120.0,Diesel,0.0,68.9,1.6,65.0,1.0,0.0

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32567 entries, 0 to 32566
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   carID           32567 non-null  int64
 1   Brand           31918 non-null  object
 2   model           31917 non-null  object
 3   year            31914 non-null  float64
 4   transmission    31944 non-null  object
 5   mileage         31878 non-null  float64
 6   fuelType        31911 non-null  object
 7   tax             29259 non-null  float64
 8   mpg             29279 non-null  float64
 9   engineSize      31939 non-null  float64
 10  paintQuality%   31942 non-null  float64
 11  previousOwners  31970 non-null  float64
 12  hasDamage       31970 non-null  float64
dtypes: float64(8), int64(1), object(4)
memory usage: 3.2+ MB

We have same missing values that we will have to fill

In [79]:
data.isna().sum()

carID                0
Brand              649
model              650
year               653
transmission       623
mileage            689
fuelType           656
tax               3308
mpg               3288
engineSize         628
paintQuality%      625
previousOwners     597
hasDamage          597
dtype: int64

We have the same problem that we had in the training dataset, the categorical variables have a lot of missinf values, because most of them are not well written

In [80]:
print(f"Unique values of 'Brands':\n\n {data['Brand'].unique()}\n")
print(f"Unique values of 'model':\n\n {data['model'].unique()}\n")
print(f"Unique values of 'transmission':\n\n {data['transmission'].unique()}\n")
print(f"Unique values of 'fuelType':\n\n {data['fuelType'].unique()}\n")

Unique values of 'Brands':

 ['Hyundai' 'VW' 'BMW' 'Opel' 'Ford' 'Mercedes' 'Skoda' 'Toyot' 'Toyota'
 'Audi' nan 'For' 'Ope' 'toyota' 'vw' 'hyundai' 'MW' 'SKODA' 'ord' 'udi'
 'bmw' 'V' 'BM' 'HYUNDAI' 'OPEL' 'mercedes' 'audi' 'Mercede' 'pel' 'opel'
 'FORD' 'yundai' 'ford' 'Aud' 'oyota' 'MERCEDES' 'ercedes' 'AUDI' 'koda'
 'Hyunda' 'W' 'skoda' 'Skod' 'ercede' 'TOYOTA' 'ERCEDES' 'kod' 'ORD' 'v'
 'ud' 'M' 'FOR' 'for' 'MERCEDE' 'YUNDAI' 'PEL' 'ope' 'or' 'TOYOT' 'hyunda'
 'oyot' 'UDI' 'mw' 'pe' 'bm']

Unique values of 'model':

 [' I30' ' Tiguan' ' 2 Series' ' Grandland X' '1 Series' ' Fiesta' ' X1'
 ' B Class' ' Focus' ' Superb' ' 5 Series' ' C Class' ' Up' ' Aygo' 'Golf'
 ' M CLAS' ' Land Cruiser' ' TT' ' Adam' ' Zafira' ' E Class' ' Golf'
 ' 3 Series' ' IX20' ' A4' ' Yaris' ' Passat' ' I10' ' Mokka X'
 ' EcoSport' ' 1 Series' ' 4 Series' ' A7' ' Corsa' ' Kuga' ' Grand C-MAX'
 ' Q2' ' M4' ' A Class' ' RAV4' ' Fabia' ' Insignia' ' A1' ' X6' ' Meriva'
 ' Caravelle' ' Octavia' ' Auris' ' X-CLASS' ' FOCUS' ' Astra' ' V Class'
 ' Polo' ' Karoq' ' Shuttle' ' Mokka' ' Q5' ' Tucson' ' A3' ' SL CLASS'
 ' Corolla' ' a class' ' Ka+' ' X3' ' I40' ' I20' ' Kamiq' nan ' IX35'
 ' Crossland X' ' Q3' ' Viva' ' GLA Class' ' Astr' ' CLS Class' ' KA'
 ' FABIA' ' a3' 'Polo' ' Focu' ' Galaxy' ' X2' ' Kodiaq' ' GLC Class'
 ' Vivaro' ' Mondeo' ' Touran' ' CL Class' ' CORSA' 'Aygo' ' X5' ' FIESTA'
 'Auris' ' mokka x' ' Verso' ' Touareg' ' T-Roc' ' fiesta' ' Fiest' ' Q'
 ' A5' ' S Class' ' C Clas' ' Scirocco' ' X7' ' B-MAX' ' 8 Series' ' A6'
 'C Class' ' Santa Fe' ' GL Class' '3 Series' ' GLE Class' ' corsa'
 'Astra' ' grandland x' 'Mokka X' ' Beetle' ' POLO' ' touareg' 'A Class'
 ' e class' ' X4' ' Pol' ' Golf SV' ' Octavi' 'E Class' 'Q2' ' Sharan'
 'c class' ' Gol' ' C-MAX' ' KAROQ' ' astra' ' M6' ' A8' ' MOKKA'
 ' CLA CLASS' ' KODIAQ' ' Kona' ' auris' ' KA+' ' Citigo' ' 3 SERIES'
 ' Prius' 'CL Class' ' 4 series' ' Rapid' ' Fusion' ' kuga' ' 3 Serie'
 'Corsa' '5 Series' ' ASTRA' ' c class' 'Fiesta' 'Crossland X' ' a6'
 ' MOKKA X' ' G CLAS' ' SLK' ' Yeti Outdoor' ' Q7' ' C-HR' 'KA' ' M5'
 ' SUPERB' ' ka+' 'Passat' ' T-Cross' ' Avensis' ' Ioniq' ' Amarok'
 ' T-ROC' ' cls class' ' Viv' ' Z4' ' California' ' M2' ' M3' ' Arteon'
 'I10' ' 1 Serie' ' Scala' ' Hilux' ' YARIS' 'Q3' ' rav4' ' Puma'
 ' Mokka ' 'Focus' ' GTC' ' Fabi' ' Zafira Tourer' ' ix35' ' S-MAX'
 ' b class' 'Santa Fe' 'Mokka' ' Super' ' Edge' ' octavi' 'Viva' ' GOLF'
 ' CC' ' RS3' ' X' ' 3 series' ' santa fe' ' tiguan' ' CL CLASS' ' focus'
 ' Auri' 'C-MAX' '2 Series' ' yeti outdoor' ' Tiguan Allspace' ' C CLASS'
 ' RS4' 'Kuga' ' golf' ' Combo Life' ' Caddy Maxi Life' ' Tourneo Custom'
 ' Mustang' ' Yari' ' 1 series' ' 7 SERIES' ' q2' ' polo' 'Corolla' ' i10'
 ' a5' ' Yeti' ' VERSO' ' 2 Serie' ' a1' ' kodiaq' ' 7 Series' ' ZAFIR'
 ' Arteo' ' Veloster' ' PRIUS' ' AURIS' ' Mokk' 'Kodiaq' ' U' ' fabia'
 ' A' ' gla class' ' INSIGNIA' ' 5 SERIES' ' I800' ' RAV' 'A1'
 ' Tiguan Allspac' ' B-MA' ' Monde' 'Fiest' 'Grand C-MAX' 'GLA Class'
 ' A CLASS' ' x2' ' m5' ' M Class' ' 4 Serie' ' CLA Class' ' S-MA'
 'Yeti Outdoor' ' 1 SERIES' ' Grandland ' ' adam' ' gl class' ' corolla'
 ' tiguan allspace' ' fox' ' GLB Class' ' Kug' ' E CLASS' ' MONDEO'
 ' 6 Series' ' mokka' ' IQ' ' R8' 'A6' ' aygo' ' Tucso' '4 Series' ' GT86'
 'Scirocco' 'Octavia' ' 5 series' ' Cors' ' GLE CLASS' 'TT' ' insignia'
 ' golf sv' ' passat' ' sharan' 'Yaris' ' AGILA' ' GLS Class' 'X1' ' RS5'
 ' EcoSpor' 'A3' ' TIGUAN' 'V Class' ' CL Clas' ' Zafir' ' octavia' ' Ka'
 ' tucson' ' E Clas' ' Grand Tourneo Connect' ' T-Ro' ' antara' 'Insignia'
 ' KUGA' ' X-CLAS' 'Golf SV' 'A4' 'I2' '180' 'SL CLASS' ' 4 SERIES'
 ' Supra' ' scirocco' ' SQ5' ' a4' ' galaxy' ' 2 SERIES' ' hilux'
 'S Class' 'Zafira' 'GLE Class' 'A5' ' Ayg' ' Yeti Outdoo' ' glc class'
 ' GLC Clas' ' B CLASS' ' Agila' ' Citig' ' Q8' 'Grand Tourneo Connect'
 ' Tourneo Custo' ' SQ7' ' Toura' ' citigo' 'GLC Class' ' combo life'
 'FIESTA' 'I8' ' Tourneo Connect' ' GLA CLASS' ' VIVA' ' Coroll'
 ' YETI OUTDOOR' 'T-Roc' ' i3' 'C-HR' ' I2' ' Hilu' 'Tucson' ' MERIVA'
 ' 2 series' ' ZAFIRA' 'EcoSport' 'PASSAT' ' Antara' ' G Class' ' 6 Serie'
 ' Kon' ' A Clas' ' Caddy Life' 'Tiguan' 'I30' ' jetta' ' Passa' ' c-hr'
 'Meriva' ' R Class' 'I800' ' cl class' ' B Clas' ' Edg' ' GLC CLASS'
 ' q5' ' Insigni' ' S3' ' UP' 'Edge' ' b-max' ' 5 Serie' ' ECOSPORT'
 ' HILU' ' AYGO' ' kona' ' GLA Clas' ' karoq' ' amarok' ' M CLASS' 'VERSO'
 ' rav' ' KAMIQ' ' Caravell' ' Amica' ' OCTAVIA' 'SQ5' ' c-max' ' focu'
 ' touran' 'CLS Class' ' Crossland ' ' T' 'Fabia' ' RS6' ' tigua'
 ' proace verso' 'Grandland X' ' grand c-max' ' viva' ' x1' 'Focu'
 ' rapid' ' Camry' 'golf' ' TIGUA' ' SL CLAS' ' prius' ' a'
 ' PROACE VERSO' ' Tigra' ' SCALA' ' c-h' ' Fox' ' PASSAT' ' i30' 'A'
 ' Tigua' ' PASSA' 'Up' ' Eos' ' M' 'C CLASS' 'X3' ' Combo Lif' 'Q'
 ' fiest' ' kamiq' 'Ioniq' ' Roomster' ' Santa F' ' yaris' ' CLK'
 ' Californi' ' Meriv' ' 5 SERIE' ' Ampera' ' I1' ' Kodia' ' COROLLA'
 ' x3' ' gol' 'Q5' ' gtc' ' C-MA' ' S5' ' CLC Class' 'Kamiq' 'GOLF'
 ' Galax' ' GALAXY' ' Jetta' 'I20' ' TUCSON' ' x5' ' yeti outdoo'
 '2 series' 'Citigo' 'Superb' ' Ada' ' caravelle' ' KONA' 'Sharan'
 'Caravelle' ' meriva' ' SHARA' ' gle class' ' Grand Tourneo Connec'
 ' ioniq' ' c clas' 'X5' ' arteon' ' COMBO LIFE' 'Mustang' ' i8' ' RS7'
 'CITIGO' ' TOURA' 'q5' ' CLS CLASS' 'Ka+' ' Scirocc' ' YETI'
 ' Transit Tourneo' ' zafira tourer' ' S Clas' ' SHUTTLE' 'Prius' 'Camry'
 ' OCTAVI' ' mondeo' ' ecosport' ' CROSSLAND X' ' ADAM' ' TOURAN'
 ' Vectra' ' fusion' ' FOCU' ' verso' 'TIGUAN' ' up' ' x4' ' Golf S'
 ' edge' 'FOCUS' 'Jetta' ' Caddy' ' I4' 'Q7' ' CLA Clas' ' POL'
 ' Grand C-MA' 'i8' ' GL Clas' 'Galaxy' 'Adam' 'RS4' 'Tiguan Allspace'
 ' yeti' 'Mondeo' '6 Series' ' CITIGO' 'e class' ' avensis' ' crossland x'
 'IX20' ' 7 series' 'Touran' 'CC' 'kodiaq' ' IONIQ' ' superb' 'YARIS'
 'Pum' ' I3' 'X-CLASS' 'Yari' 'a5' 'Karoq' ' Z3' ' S CLASS'
 ' land cruiser' ' SCIROCCO' 'Q8' ' q3' 'CLA Class' 'B Class' ' zafira'
 ' C CLAS' ' SL' 'S-MAX' ' i20' 'yaris' 'Combo Life' ' INSIGNI'
 ' SANTA FE' ' ka' 'viva' ' GLS Clas' ' S4' ' Terracan' ' Rapi'
 'PROACE VERSO' ' scala' ' K' ' Pum' 'Hilux' ' Camr' 'X7' ' Cascada'
 ' GOLF SV']

Unique values of 'transmission':

 ['Automatic' 'Semi-Auto' 'Manual' 'unknow' 'Manua' 'automatic' nan
 'semi-auto' 'MANUAL' 'Semi-Aut' 'unknown' 'emi-Auto' 'utomatic'
 'SEMI-AUTO' 'anual' 'Automati' 'manual' 'AUTOMATIC' ' Manual ' ' Manual'
 'UNKNOWN' 'anua' 'AUTOMATI' 'nknown' 'MANUA' 'Other' ' MANUAL ' 'manual '
 'manua' 'UTOMATIC' 'automati' 'utomati' 'ANUAL' 'emi-auto' 'EMI-AUTO'
 'SEMI-AUT' 'Manual ' ' manual ' 'emi-Aut']

Unique values of 'fuelType':

 ['petrol' 'Petrol' 'Diesel' 'Diese' 'Hybrid' 'iesel' 'Petro' 'hybrid'
 'etrol' 'DIESEL' nan 'PETROL' 'diesel' 'Other' 'iese' 'diese' 'etro'
 'petro' 'HYBRID' 'Hybri' 'ther' 'ETROL' 'ybrid' 'IESEL' 'DIESE' 'PETRO'
 'hybri' 'other' 'Othe' 'Electric']

## Data Cleaning

### "year"

The year variable can only have integers values

In [81]:
data["year"] = data["year"].apply(lambda x: math.floor(x) if pd.notna(x) else x)
data["year"].describe()

count    31914.000000
mean      2017.097042
std          2.209278
min       1991.000000
25%       2016.000000
50%       2017.000000
75%       2019.000000
max       2024.000000
Name: year, dtype: float64

Converting "year" to "car_age"

In [82]:
data["year"] = 2024 - data["year"]
data.rename(columns={"year": "car_age"}, inplace= True)
data

,carID,Brand,model,car_age,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
0,89856,Hyundai,I30,2.0,Automatic,30700.000000,petrol,205.0,41.5,1.6,61.0,3.0,0.0
1,106581,VW,Tiguan,7.0,Semi-Auto,-48190.655673,Petrol,150.0,38.2,2.0,60.0,2.0,0.0
2,80886,BMW,2 Series,8.0,Automatic,36792.000000,Petrol,125.0,51.4,1.5,94.0,2.0,0.0
3,100174,Opel,Grandland X,5.0,Manual,5533.000000,Petrol,145.0,44.1,1.2,77.0,1.0,0.0
4,81376,BMW,1 Series,5.0,Semi-Auto,9058.000000,Diesel,150.0,51.4,2.0,45.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32562,105775,VW,Tiguan,7.0,Manual,27575.000000,Petrol,145.0,46.3,1.4,94.0,1.0,0.0
32563,81363,BMW,X2,4.0,Automatic,1980.000000,Petrol,145.0,34.0,2.0,39.0,3.0,0.0
32564,76833,Audi,Q5,5.0,Semi-Auto,8297.000000,Diesel,145.0,38.2,2.0,88.0,4.0,0.0
32565,91768,Mercedes,A Class,5.0,Manual,-50755.210230,Petrol,145.0,28.5,1.3,81.0,1.0,0.0
32566,99627,Toyota,Yaris,7.0,Automatic,11071.000000,Petrol,30.0,58.0,1.3,98.0,4.0,0.0

### "mileage"

Transforming negative values in mileage to nan

In [83]:
data["mileage"][data["mileage"] < 0] = np.nan

C:\Users\andre\AppData\Local\Temp\ipykernel_12220\2415613594.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data["mileage"][data["mileage"] < 0] = np.nan
C:\Users\andre\AppData\Local\Temp\ipykernel_12220\2415613594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["mileage"][data["mileage"] < 0] = np.nan

### "Tax"

Same as with mileage, converting negative values to nan

In [84]:
data["tax"][data["tax"] < 0] = np.nan

C:\Users\andre\AppData\Local\Temp\ipykernel_12220\839513193.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data["tax"][data["tax"] < 0] = np.nan
C:\Users\andre\AppData\Local\Temp\ipykernel_12220\839513193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["tax"][data["tax"] < 0] = np.nan

### "mpg"

The same as before

In [85]:
data["mpg"][data["mpg"] < 0] = np.nan

C:\Users\andre\AppData\Local\Temp\ipykernel_12220\1243779187.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data["mpg"][data["mpg"] < 0] = np.nan
C:\Users\andre\AppData\Local\Temp\ipykernel_12220\1243779187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["mpg"][data["mpg"] < 0] = np.nan

### "engineSize"

Same as before

In [86]:
data["engineSize"][data["engineSize"] < 0] = np.nan

C:\Users\andre\AppData\Local\Temp\ipykernel_12220\457097309.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data["engineSize"][data["engineSize"] < 0] = np.nan
C:\Users\andre\AppData\Local\Temp\ipykernel_12220\457097309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["engineSize"][data["engineSize"] < 0] = np.nan

### "previousOwners"

Same as before

In [87]:
data["previousOwners"][data["previousOwners"] < 0] = np.nan

C:\Users\andre\AppData\Local\Temp\ipykernel_12220\2453159554.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data["previousOwners"][data["previousOwners"] < 0] = np.nan
C:\Users\andre\AppData\Local\Temp\ipykernel_12220\2453159554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["previousOwners"][data["previousOwners"] < 0] = np.nan

In "previousOwners" all values have to be integers

In [88]:
data["previousOwners"] = data["previousOwners"].apply(lambda x: math.floor(x) if pd.notna(x) else x)
data["previousOwners"].describe()

count    31802.000000
mean         2.027703
std          1.438231
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          6.000000
Name: previousOwners, dtype: float64

### "paintQuality%"

Converting to missing values values above 100%

In [89]:
data["paintQuality%"][data["paintQuality%"] > 100] = np.nan

C:\Users\andre\AppData\Local\Temp\ipykernel_12220\1763353316.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data["paintQuality%"][data["paintQuality%"] > 100] = np.nan
C:\Users\andre\AppData\Local\Temp\ipykernel_12220\1763353316.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["paintQuality%"][data["paintQuality%"] > 100] = np.nan

### "hasdamage"

Dropping hasdamage because it is an irrelevant feature

In [90]:
data.drop("hasDamage", axis = 1, inplace= True)

### Text normalization for categorical variables cleaning

Put everything in lower case and also eliminate some punctoation and extra spaces.

In [91]:
data["model"] = data["model"].apply(normalize_text)
data["Brand"] = data["Brand"].apply(normalize_text)
data["transmission"] = data["transmission"].apply(normalize_text)
data["fuelType"] = data["fuelType"].apply(normalize_text)

### "brand" variable cleaning

Cleaning of unique values of brand using a dictionary

In [92]:
correct_brands = {"Audi": ['aud', 'audi', 'udi', 'ud'],
                  "BMW": ['bmw', 'mw', 'bm'],
                  "Ford": ['ford', 'for', 'ord', 'or'],
                  "Hyundai" : ['hyundai', 'hyunda', 'yundai', 'yunda'],
                  "Mercedes" : ['mercedes','ercedes', 'mercede', 'ercede'],
                  "Skoda": ['skoda', 'koda', 'skod', 'kod'],
                  "Toyota": ['toyota', 'toyot', 'oyota'],
                  "Opel": ['opel', 'pel', 'ope', 'pe'],
                  "VW": ['vw', 'w','v']}

variant_to_brand = {variant: brand for brand, variants in correct_brands.items() for variant in variants}
data["Brand"] = data["Brand"].map(variant_to_brand)
data["Brand"].unique()

array(['Hyundai', 'VW', 'BMW', 'Opel', 'Ford', 'Mercedes', 'Skoda',
       'Toyota', 'Audi', nan], dtype=object)

### "model" variable cleaning

In [93]:
models_per_brand = pd.DataFrame(data.groupby(by =["Brand"])["model"].unique())
models_per_brand["model"] = models_per_brand["model"].apply(lambda x: [model for model in x if pd.notna(model)])
models_per_brand

                                                      model
Brand
Audi      [tt, a4, a7, q2, a1, q5, a3, q3, q, a5, a6, a8...
BMW       [2 series, 1 series, x1, 5 series, 3 series, 4...
Ford      [fiesta, focus, ecosport, kuga, grand c-max, k...
Hyundai   [i30, ix20, i10, tucson, i40, ix35, i20, santa...
Mercedes  [b class, c class, m clas, e class, a class, x...
Opel      [grandland x, adam, zafira, corsa, insignia, m...
Skoda     [superb, fabia, octavia, karoq, kamiq, kodiaq,...
Toyota    [aygo, land cruiser, yaris, rav4, auris, corol...
VW        [tiguan, up, golf, passat, caravelle, polo, sh...

In [94]:
models_per_brand["model"] = models_per_brand["model"].apply(lambda x: [re.sub(r'\bclas\b', 'class', str(model)) for model in x])
models_per_brand

                                                      model
Brand
Audi      [tt, a4, a7, q2, a1, q5, a3, q3, q, a5, a6, a8...
BMW       [2 series, 1 series, x1, 5 series, 3 series, 4...
Ford      [fiesta, focus, ecosport, kuga, grand c-max, k...
Hyundai   [i30, ix20, i10, tucson, i40, ix35, i20, santa...
Mercedes  [b class, c class, m class, e class, a class, ...
Opel      [grandland x, adam, zafira, corsa, insignia, m...
Skoda     [superb, fabia, octavia, karoq, kamiq, kodiaq,...
Toyota    [aygo, land cruiser, yaris, rav4, auris, corol...
VW        [tiguan, up, golf, passat, caravelle, polo, sh...

In [95]:
brands = models_per_brand.index.tolist()

for models, brand in zip(models_per_brand["model"], brands):
    canonical_names = {}  # to store canonical form for each variant

    for model in models:
        if model in canonical_names:
            continue  # already assigned

        # adaptive threshold
        threshold = 90 if len(model) < 4 else 75

        # find similar models within this brand
        matches = process.extract(model, models, scorer=fuzz.token_sort_ratio)
        close = [m for m, score, _ in matches if score >= threshold]
        for c in close:
            canonical_names[c] = model  # group under canonical name

    data.loc[data["Brand"] == brand , "model"] = data.loc[data["Brand"] == brand, "model"].map(canonical_names).fillna(data.loc[data["Brand"] == brand, "model"])

data["model"] = data["model"].str.capitalize()

In [96]:
canonical_names = {key: value for key, value in canonical_names.items() if key != value}
canonical_names

{'tigua': 'tiguan',
 'gol': 'golf',
 'golf s': 'golf sv',
 'passa': 'passat',
 'caravell': 'caravelle',
 'pol': 'polo',
 'toura': 'touran',
 't-ro': 't-roc',
 'scirocc': 'scirocco',
 'shara': 'sharan',
 'californi': 'california',
 'arteo': 'arteon',
 'tiguan allspac': 'tiguan allspace',
 'caddy life': 'caddy maxi life'}

### "fuelType" variable cleaning

In [97]:
correct_fueltype = {"Diesel": ["diesel", "iesel", "diese", "iese"],
                    "Petrol": ["petrol", "petro", "etrol", "etro"],
                    "Hybrid": ["hybrid", "ybrid", "hybri", "ybri"],
                    "Other": ["other", "ther", "othe"],
                    "Eletric": "eletric"}

variant_to_fuelType = {variant: fuelType for fuelType, variants in correct_fueltype.items() for variant in variants}
data["fuelType"] = data["fuelType"].map(variant_to_fuelType)
data["fuelType"].unique()

array(['Petrol', 'Diesel', 'Hybrid', nan, 'Other'], dtype=object)

### "transmission" variable cleaning

In [98]:
correct_transmissions = {
    "Manual": ["manual", "anual", "manua", "anua"],
    "Semi-Auto": ["semi-auto", "emi-auto", "semi-aut", "emi-aut"],
    "Automatic": ["automatic", "automati", "utomatic", "utomati"],
    "Unknown": ["unknown", "unknow", "nknown", "nknow"],"Other": ["other"]}

variant_to_transmissions = {variant: transmissions for transmissions, variants in correct_transmissions.items() for variant in variants}
data["transmission"] = data["transmission"].map(variant_to_transmissions)
data["transmission"].unique()

array(['Automatic', 'Semi-Auto', 'Manual', 'Unknown', nan, 'Other'],
      dtype=object)

### "Brand" missing values filling

Filling missing values in brand through the model variable

In [99]:
brand_per_model = (
    data.groupby("model")["Brand"]
        .unique()                       # get unique brands per model (still lists)
        .apply(lambda x: [b for b in x if pd.notna(b)])  # remove NaNs
        .apply(lambda x: x[0] if len(x) > 0 else None) # take first brand as string
        .to_dict()                        # convert to dictionary
)

brand_per_model

{'1 series': None,
 '180': 'Mercedes',
 '2 series': None,
 '3 serie': 'BMW',
 '3 series': None,
 '4 series': 'BMW',
 '5 serie': 'BMW',
 '5 series': None,
 '6 series': 'BMW',
 '7 series': 'BMW',
 '8 series': 'BMW',
 'A': 'Audi',
 'A clas': 'Mercedes',
 'A class': None,
 'A1': 'Audi',
 'A3': 'Audi',
 'A4': 'Audi',
 'A5': 'Audi',
 'A6': 'Audi',
 'A7': 'Audi',
 'A8': 'Audi',
 'Adam': 'Opel',
 'Agila': 'Opel',
 'Amarok': 'VW',
 'Amica': None,
 'Ampera': 'Opel',
 'Antara': 'Opel',
 'Arteon': 'VW',
 'Astra': 'Opel',
 'Auri': 'Toyota',
 'Auris': None,
 'Avensis': 'Toyota',
 'Aygo': 'Toyota',
 'B clas': 'Mercedes',
 'B class': 'Mercedes',
 'B-ma': 'Ford',
 'B-max': None,
 'Beetle': 'VW',
 'C clas': 'Mercedes',
 'C class': None,
 'C-hr': 'Toyota',
 'C-max': 'Ford',
 'Caddy': 'VW',
 'Caddy maxi life': 'VW',
 'California': 'VW',
 'Camry': 'Toyota',
 'Caravelle': 'VW',
 'Cascada': 'Opel',
 'Cc': 'VW',
 'Citigo': 'Skoda',
 'Cl clas': 'Mercedes',
 'Cl class': 'Mercedes',
 'Cla clas': 'Mercedes',
 'Clk': 'Mercedes',
 'Cls class': 'Mercedes',
 'Combo life': 'Opel',
 'Coroll': None,
 'Corolla': 'Toyota',
 'Cors': None,
 'Corsa': 'Opel',
 'Crossland': None,
 'Crossland x': 'Opel',
 'E clas': 'Mercedes',
 'E class': None,
 'Ecosport': 'Ford',
 'Edge': 'Ford',
 'Eos': 'VW',
 'Fabia': 'Skoda',
 'Fiest': None,
 'Fiesta': 'Ford',
 'Focu': None,
 'Focus': 'Ford',
 'Fox': 'VW',
 'Fusion': 'Ford',
 'G clas': 'Mercedes',
 'G class': 'Mercedes',
 'Galaxy': 'Ford',
 'Gl clas': 'Mercedes',
 'Gla clas': 'Mercedes',
 'Gla class': None,
 'Glb class': 'Mercedes',
 'Glc clas': 'Mercedes',
 'Glc class': None,
 'Gle class': 'Mercedes',
 'Gls clas': 'Mercedes',
 'Golf': 'VW',
 'Golf sv': 'VW',
 'Grand c-max': 'Ford',
 'Grand tourneo connect': 'Ford',
 'Grandland x': 'Opel',
 'Gt86': 'Toyota',
 'Gtc': 'Opel',
 'Hilux': 'Toyota',
 'I1': 'Hyundai',
 'I10': 'Hyundai',
 'I2': 'Hyundai',
 'I20': None,
 'I3': 'BMW',
 'I30': 'Hyundai',
 'I4': 'Hyundai',
 'I40': 'Hyundai',
 'I8': 'BMW',
 'I800': 'Hyundai',
 'Insignia': 'Opel',
 'Ioniq': 'Hyundai',
 'Iq': 'Toyota',
 'Ix20': 'Hyundai',
 'Ix35': 'Hyundai',
 'Jetta': 'VW',
 'K': 'Ford',
 'Ka': 'Ford',
 'Kamiq': 'Skoda',
 'Karoq': 'Skoda',
 'Kodiaq': 'Skoda',
 'Kona': 'Hyundai',
 'Kuga': 'Ford',
 'Land cruiser': 'Toyota',
 'M': 'BMW',
 'M clas': 'Mercedes',
 'M2': 'BMW',
 'M3': 'BMW',
 'M4': 'BMW',
 'M5': 'BMW',
 'M6': 'BMW',
 'Meriva': 'Opel',
 'Mokka': 'Opel',
 'Mokka x': None,
 'Monde': None,
 'Mondeo': 'Ford',
 'Mustang': 'Ford',
 'Octavia': 'Skoda',
 'Passat': 'VW',
 'Pol': None,
 'Polo': 'VW',
 'Prius': 'Toyota',
 'Proace verso': 'Toyota',
 'Puma': 'Ford',
 'Q': 'Audi',
 'Q2': 'Audi',
 'Q3': 'Audi',
 'Q5': 'Audi',
 'Q7': 'Audi',
 'Q8': 'Audi',
 'R class': 'Mercedes',
 'R8': 'Audi',
 'Rapid': 'Skoda',
 'Rav4': 'Toyota',
 'Roomster': 'Skoda',
 'Rs3': 'Audi',
 'Rs4': 'Audi',
 'Rs5': 'Audi',
 'Rs6': 'Audi',
 'Rs7': 'Audi',
 'S clas': 'Mercedes',
 'S class': None,
 'S3': 'Audi',
 'S4': 'Audi',
 'S5': 'Audi',
 'Santa fe': 'Hyundai',
 'Scala': 'Skoda',
 'Scirocco': 'VW',
 'Sharan': 'VW',
 'Shuttle': 'VW',
 'Sl': 'Mercedes',
 'Sl clas': 'Mercedes',
 'Sl class': 'Mercedes',
 'Slk': 'Mercedes',
 'Sq5': 'Audi',
 'Sq7': 'Audi',
 'Superb': 'Skoda',
 'Supra': 'Toyota',
 'T': 'Audi',
 'T-cross': 'VW',
 'T-roc': 'VW',
 'Terracan': 'Hyundai',
 'Tigra': 'Opel',
 'Tiguan': 'VW',
 'Tiguan allspace': 'VW',
 'Touareg': 'VW',
 'Touran': 'VW',
 'Tourneo custom': 'Ford',
 'Transit tourneo': 'Ford',
 'Tt': 'Audi',
 'Tucson': 'Hyundai',
 'U': 'VW',
 'Up': 'VW',
 'V class': None,
 'Vectra': 'Opel',
 'Veloster': 'Hyundai',
 'Verso': 'Toyota',
 'Viva': 'Opel',
 'X': 'BMW',
 'X-clas': 'Mercedes',
 'X-class': 'Mercedes',
 'X1': 'BMW',
 'X2': 'BMW',
 'X3': 'BMW',
 'X4': 'BMW',
 'X5': 'BMW',
 'X6': 'BMW',
 'X7': 'BMW',
 'Yaris': 'Toyota',
 'Yeti': 'Skoda',
 'Yeti outdoor': 'Skoda',
 'Z3': 'BMW',
 'Z4': 'BMW',
 'Zafira': 'Opel',
 'Zafira tourer': 'Opel'}

In [100]:
data["Brand"].isna().sum()

np.int64(652)

In [101]:
data["Brand"] = data["Brand"].fillna(data["model"].map(brand_per_model))
print(f"We reduced the number of missing values in 'Brand' from 652 to {data['Brand'].isna().sum()}, which means we filled {652-data['Brand'].isna().sum()} rows.")

We reduced the number of missing values in 'Brand' from 652 to 175, which means we filled 477 rows.

## Data Preprocessing

### Missing values

In [102]:
data.isna().sum()

carID                0
Brand              175
model              650
car_age            653
transmission       623
mileage            859
fuelType           657
tax               3469
mpg               3305
engineSize         661
paintQuality%      793
previousOwners     765
dtype: int64

Dropping Nan of brands

In [103]:
data.dropna(subset=["Brand"], inplace=True)

### Filling of numerical features

Loading the scalers and imputers from the trainning data set

In [104]:
scalers = joblib.load("scalers_by_brand.pkl")
imputers = joblib.load("imputers_by_brand.pkl")

Impute numerical missing values based on scalers an imputers from trainning

In [105]:
metric_features = ["car_age", "mileage", "engineSize", "paintQuality%", "previousOwners", "tax", "mpg"]

for brand, df_brand in data.groupby("Brand"):

    scaler = scalers[brand]       #Getting the scaler and the imputer from the dictionaries
    imputer = imputers[brand]

    scaled_val = scaler.transform(df_brand[metric_features]) #Transform using X_train Scalers
    imputed_scaled = imputer.transform(scaled_val)           #Transform using X_train imputers
        
    data.loc[df_brand.index, metric_features] = scaler.inverse_transform(imputed_scaled) #Reverse the scaling

C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\andre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [109]:
data.isna().sum()

carID                0
Brand                0
model              634
car_age            650
transmission       620
mileage            854
fuelType           654
tax               3438
mpg               3276
engineSize         660
paintQuality%      787
previousOwners     758
dtype: int64